extends app.pug 

block main
    div.wrapper
        div.cityHeadLine
            h1= city 
            img(src= flag)
       
        
        if weather
            div.weatherBox
                img(src= icon)
                p= weather
                div.sunBox
                    if sunset
                        p #{sunrise} 🌞
                        p #{sunset} 🌚

        if error 
            h1= error

        
